footer.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px;
  background-color: #f39c12;
  padding: 0 20px;
  z-index: 1000;
  p {
    color: white;
    font-size: 18px;
    font-weight: 500;
    @include phones {
      font-size: 12px;
    }
    span {
      color: #2f3640;
      font-weight: 900;
    }
  }
}
